<form method="post" action="{{ path('reservation_by_client_insert', {'id': reservation.id}) }}">
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="isConfirmationEmail" checked>
		<label class="form-check-label" for="flexSwitchCheckChecked">Recevoir une confirmation par mail</label>
	</div>
	<input type="hidden" name="_token" value="{{ csrf_token('0142' ~ reservation.id) }}">
	<button class="btn btn-primary ms-auto">
		Envoyer la demande de reservation
	</button>
</form>
