{% extends 'base.gestion.html.twig' %}

{% block title %}Hello GestionController!
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/gestion-index.css') }}">
{% endblock %}
{% block body %}
	<h1>Confirmation</h1>
	<p>Un email contenant le document demande vient d'etre envoyer</p>

{% endblock %}
