<div class="row mt-2  p-2  text-bg-dark text-center ">
	<div class="col">
		Paris Prestige Transfert
	</div>
	<div class="col">

		<a href="#">Contact Us</a>
		<br>
		<a href="#">Home</a>

	</div>
</div>
