{% extends 'base.html.twig' %}
{% block title %}New Car
{% endblock %}

{% block body %}
	<h1>Create new Car</h1>
	<a href="{{ path('app_car_index') }}">back to list</a>
	{{ include('car/_form.html.twig') }}


{% endblock %}
