{% extends 'base.html.twig' %}

{% block title %}New Dispatcher{% endblock %}

{% block body %}
    <h1>Create new Dispatcher</h1>

    {{ include('dispatcher/_form.html.twig') }}

    <a href="{{ path('app_dispatcher_index') }}">back to list</a>
{% endblock %}
